@{
    ViewData["Title"] = "Education Portal";
}
<div class="text-center bg-white">
    <h1 class="display-4">Welcome to Education Portal</h1> <br />
</div>
<img width=100% src=~/src/education.webp />