@model EducationPortal.BLL.DTO.ArticleMaterialDTO;

<h2>Adding Article</h2>
<div asp-validation-summary="ModelOnly"></div>
<form asp-controller="Material" asp-action="AddArticle">
    <div>
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" required/> <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="DateOfPublish">Date of Publish</label>
        <input type="date" asp-for="DateOfPublish" required/> <span class="text-danger" asp-validation-for="DateOfPublish"></span>
        </div>
        <div>
        <label asp-for="Resource">Resource</label>
        <input type="url" asp-for="Resource" required/> <span class="text-danger" asp-validation-for="Resource"></span>
        </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>