@model IEnumerable<EducationPortal.BLL.DTO.MaterialDTO>

@if (Model.Count() == 0)
{
    <p>You don't have any materials yet</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name of Material</th>
            <th>Type of Material</th>
            <th></th>
        </tr>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Name</td>
                <td>
                    @if (material is EducationPortal.BLL.DTO.BookMaterialDTO)
                    {
                        <div>Book</div>
                    }
                    else if (material is EducationPortal.BLL.DTO.VideoMaterialDTO)
                    {
                        <div>Video</div>
                    }
                    else
                    {
                        <div>Article</div>
                    }
                </td>
            </tr>
        }
    </table>
}