@model IEnumerable<EducationPortal.BLL.DTO.SkillDTO>
<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var skill in Model)
    {
        <tr>
            <td><a class="link-dark" asp-action="Details" asp-route-id="@skill.Id">@skill.Name</a>@if (skill.UserNameCreate == User.Identity.Name)
                {
                    <span> <img src="/src/key.svg" data-bs-toggle="tooltip" data-bs-placement="right" title="Created by you" alt="Created by you" width="20" height="20"></span>
                }</td>
            @if (User.IsInRole("admin") || User.Identity.Name == skill.UserNameCreate)
            {
                <td>
                    <form asp-controller="Skill" asp-action="edit" method="get" asp-route-id="@skill.Id">
                        <input type="submit" class="btn-primary" value="Edit" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Skill" asp-action="Delete" method="post" asp-route-id="@skill.Id">
                        <input type="submit" class="btn" value="Delete">
                    </form>
                </td>
            }
            else{
                <td></td>
                <td></td>
            }
        </tr>
    }
</table>