@model EducationPortal.BLL.DTO.SkillDTO
@{
    ViewData["Title"] = "Skill Credit";
}

<h2>Adding Skill</h2>
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="create" asp-controller="skill">
    <p>
        <label asp-for="Name">Name</label>
        <input type= "text" asp-for= "Name" id ="Name" required/><span class="text-danger" asp-validation-for="Name"></span>
    </p>
    <p>
        <input class="btn btn-primary" type ="submit" value="Send"/>
    </p>
</form>